* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 60px;
  background-color: aquamarine;

}

/** CONTAINER **/
.container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 0 15px 0;
}

.desk {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
}

.cell {
  background-color: rgb(255, 122, 122);
  border: 1px solid white;
}

/**           **/

.infoText {
  text-align: center;
  /* animation: sizing 2s ease-in-out infinite; */
}

@keyframes sizing {
  50% {
    transform: scale(125%, 125%);
  }

  100% {
    transform: scale(100%, 100%);
  }
}