* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header span {
  margin-left: 10px;
  font-family: 'Gameplay';
  font-size: 16px;
}

.header img {
  cursor: pointer;
  margin-right: 10px;
  height: 20px;
}


/** CONTAINER **/
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  padding: 15px 0 15px 0;
}

.desk {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  position: relative;
}

.cell {
  font-size: 10px;
  font-family: 'Gameplay';
  position: relative;
  transition: filter 0.5s ease;
  /**FOR JS**/
}

.cell:hover {
  filter: brightness(80%);
}

.cell.green {
  animation: color 1.2s spawn ease;
}

.cell.green::before {
  transition: 1s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(131, 255, 131, 0.356);
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  font-family: "Gameplay";
  animation: 1.2s spawn ease;
}

.horse {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
  z-index: 1;
  transition: 1s ease-out;
}

.horse img {
  height: 100%;
  width: 100%;
}

.horse.active {
  display: block;
  /* animation: color spawn 1s infinite; */
}

.horse.active text {

  animation: spawn 1s infinite;
}

/**           **/

/** MODAL **/
.result {
  z-index: 3;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "Gameplay";
  font-size: 45px;
  color: aliceblue;
}

.result.active {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spawn 1s;
}

/** USER PANEL **/
.userPanel {
  padding-top: 20px;
  width: 480px;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/** ROBOT **/
.robotMessage {
  display: flex;
  align-items: center;
  width: 64%;
  font-size: 20px;
  font-family: "Gameplay";
}

.robot {
  width: 50px;
  margin-right: 5px;
}

.infoText {
  margin-left: 5px;
  min-width: 240px;
  font-size: 20px;
  font-family: "Gameplay";

}

/**       **/

.panel {
  width: 36%;
  display: flex;
  justify-content: space-around;
  column-gap: 8px;
}

.btn {
  border-color: black;
  background-color: transparent;
  font-family: "Gameplay";
  padding: 5px 10px;
  font-size: 15px;
}

.watch {
  background-color: rgb(255, 220, 124);
}

.cancel {
  display: none;
  padding: 5px 44px;
  transition: 1s;
  /* background-color: rgb(255, 220, 124); */
}

/**            **/


/** ADAPTATION **/

@media (max-width: 530px) {
  .desk {
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
  }

  .cell {
    height: 50px;
    width: 50px;
  }

  .horse {
    height: 50px;
    width: 50px;
  }

  .userPanel {
    padding-top: 0;
    width: 400px;
    flex-direction: column;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .robotMessage {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 20px;
    font-family: "Gameplay";
  }

  .robot {
    width: 50px;
  }

  .infoText {
    min-width: 300px;
    font-size: 20px;
  }

  .panel {
    padding-top: 20px;
    column-gap: 20px;
  }

  .btn {
    border-width: 3px;
    padding: 10px 15px;
    font-size: 20px;
  }

}

@media (max-width: 420px) {
  .desk {
    grid-template-columns: repeat(8, 40px);
    grid-template-rows: repeat(8, 40px);
  }

  .cell {
    height: 40px;
    width: 40px;
  }

  .horse {
    height: 40px;
    width: 40px;
  }

  .infoText {
    min-width: 200px;
    font-size: 20px;
  }

  .userPanel {
    width: 320px;
  }

  .btn {
    border-width: 3px;
    padding: 8px 12px;
    font-size: 18px;
  }
}

@keyframes spawn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes despawn {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes sizing {
  50% {
    -webkit-transform: scale(125%, 125%);
    transform: scale(125%, 125%);
  }

  100% {
    -webkit-transform: scale(100%, 100%);
    transform: scale(100%, 100%);
  }
}